#error-message
{
    color: red;
    font-size: 18px;
    margin-top: 10px;
}
#fpsubmitbutton{
    margin-left: 25%;
}
#submit-button:hover{
    cursor: pointer;
}
#submit-button{
    font-weight: bold;
    padding-left: 15%;
    padding-right: 15%;
}
#submit-button2:hover{
    cursor: pointer;
}
#submit-button2{
    font-weight: bold;
    
}
