
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: rgb(17, 17, 17);
}



section{
    margin-top: 10%;
    width: 90%;
    min-width: 375px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #242429;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    animation: glowing 2s linear infinite;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
h1{
    color: #00dce7;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    
  }
  
@keyframes glowing{
    0%{
      box-shadow: 0 0 0px #00dce7;
    }
    50%{
      box-shadow: 0 0 25px #00dce7;
    }
    100%{
      box-shadow: 0 0 4px #00dce7;
    }
  }
a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
.registerButton,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
.registerButton {
  margin-top: 1rem;
}

.registerButton {
  padding: 0.5rem;
}
.registerButton:hover {
  cursor: pointer;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
#lg-link{
    text-decoration: none;
    color: #00dce7;
}
.register{
    display: flex;
  justify-content: center;
  align-items: center;
}
#error-message
{
    color: red;
    font-size: 18px;
    margin-top: 10px;
}