h1{
    color: #00dce7;
    font-family: 'Eczar', serif;
    font-family: 'Gentium Plus', serif;
    font-family: 'Raleway', sans-serif;

}
label{
    align-items: left;
    color: white;
    size: 30%;
}

#container
{
    display:flex;
    border: 1px solid white;
    max-width: fit-content;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #242429;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    margin-top: 10%;
    
  
    
}
#bottom-container
{
margin-top: 7%;
}
#button
{
    padding: 12px;
    font-weight: bold;
}
#button:hover{
    cursor: pointer;
}
#new #confirm{
    width:80%;
    color:black;
    margin: 8%;
    margin-bottom: 1%;
}
#labeldiv
{
    display:flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-self: 20px ;
    padding: 0%;
}
#top-container
{
margin-bottom: 8%;

}
#textdiv
{
    display:flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    justify-content: center;
    justify-self: 60px;
}
#right-container{
    display: flex;
    gap: 20px;
}
.note{
    max-width: 70%;
}
#note-heading{
    color: red;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

#new{
    margin-bottom: 10%;
}
#new-label{
    margin-bottom: 10%;
    margin-top: -3%;
}