
*{
    margin: 0;
    Padding: 0;
    list-style: none;
    text-decoration: none;
  
  }
  .sidebar{
    /* position: fixed; */
    
    left: 0px;
    width:17%;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
   
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    
    border-bottom: 1px solid black;
    transition: .4s;
  }
  .options-parent:hover a{
    padding-left: 45px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: #046592;
    border-radius: 3px;
  
  
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
  }
  label #cancel{
    z-index: 1111;
    left: 195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
  }
  
  #header{
    color: white;
    font-size: large;
    text-align: center;
    margin-top: 10%;
    margin-right: 5%;
  }
  .teacher-main{
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    
  }

